.container__Contact {
  width: 1200px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.container__Contact--info {
}

.info {
  list-style: none;
}

/* The Ul */
.sci {
  list-style: none;
  display: flex;
  gap: 10px;
}

.li__Contact {
  display: flex;
  align-items: center;
  gap: 10px;
}
